html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    font-size:10px;
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



// Color Variables
$almostBlack: #212121;
$black:#000;
$blue: #283593;
$blueGrey: #546E7A;
$completed: #424242;
$darkGrey: #757575;
$grey: #E0E0E0;
$lightBlue: #90CAF9;
$lightGrey:#BDBDBD;
$red: #B71C1C;
$white:#fff;
$yellow: #FFEB3B;


// Main Syles //
body {
  background: $almostBlack;
  overflow-x: hidden;
 }

 .display { display:flex!important; }
 .active {
   background: transparent;
   border:3px solid $darkGrey;
   color:$yellow;
 }
 .not-started {
   background:$white!important;
   color:$darkGrey!important;
 }

 .no-todos {
   color:$white;
   display:block;
   font-size:2rem;
   font-family:"PT Sans", Arial, sans-serif;
   text-align:center;
 }

header {
  align-items: center;
  background:$black;
  display:flex;
  justify-content: space-around;
  padding:20px;
    h1 {
      a {
        color:$white;
        font-size:1.8rem;
        font-family:"PT Sans", Arial, sans-serif;
        text-decoration:none;
      }
    }
}

.todo-input,
.todo-input form,
.todo-container,
.todo-container ul .todo-li {
  align-items: center;
  display:flex;
  justify-content: center;
  margin:10px 0px;
}

.todo-input {
  form {
    input[type="text"] {
      border:none;
      border-radius:5px;
      font-size:1.4rem;
      padding:10px;
    }
    button {
      background:$lightBlue;
      border:none;
      border-radius:5px;
      color:$white;
      font-size:1.5rem;
      font-family:"Roboto", Arial, sans-serif;
      margin-left:10px;
      padding:10px 25px;
    }
  }
}

.todo-container {
  ul {
    max-width:80%;
    min-width:50%;
    width:auto;
      .todo-li {
        background:transparent;
        border:3px solid transparent;
        border-radius:5px;
        color:$white;
        font-size:1.9rem;
        font-family:"Raleway", Arial, sans-serif;
        justify-content:space-between;
        list-style: none;
        margin:10px auto;
        padding:10px 30px;
          &:hover {
            border:3px solid $white;
            transition-property: border, left, top, height;
            transition-duration: 1s, 3s;
          }
          .status-container {
            display:flex;
            flex:30%;
            flex-direction:column;
            justify-content: flex-end;
            text-align: center;
              & > img {
                height:25px;
                margin-left:auto;
                margin-right:23px;
                padding-top:2px;
              }
              span {
                display:flex;
                font-size:1rem;
                justify-content: flex-end;
              }
          }
          img {
            border-radius:50%;
            padding:5px 0px 5px 5px;
          }
      }
      .completedLi {
        background:$completed;
        color:$white;
        text-decoration:line-through;
      }
  }
  .categories-section {
    margin-bottom:auto;
    display:none;
    margin-left:10px;
    max-width:75%;
    min-width:30%;
    width:auto;
      .categories-container {
        width:100%;
          .categories {
            color:$yellow;
            display:flex;
            flex-direction:column;
            font-family:"PT Sans", Arial, sans-serif;
            font-size:1.7rem;
            text-align:right;
              .category {
                background:$lightBlue;
                color:$black;
                border:3px solid transparent;
                border-radius:5px;
                font-family:"Ubuntu", Arial, sans-serif;
                font-size:1.2rem;
                list-style:none;
                margin:5px 0px;
                padding:20px 30px;
                text-align: right;
                  &:first-of-type,
                  &:nth-of-type(4) { margin-top:15px; }
                  &:hover {
                    background: transparent!important;
                    border:3px solid $darkGrey;
                    color:$yellow!important;
                    transition-property: border, left, top, height;
                    transition-duration: 2s, 2s;
                  }
              }
          }
      }
  }
}
